/*fonts*/


/*@font-face {
    font-family: 'DINRoundPro';
    src: url('../fonts/DINRoundPro-Black.eot');
    src: url('../fonts/DINRoundPro-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/DINRoundPro-Black.woff2') format('woff2'), url('../fonts/DINRoundPro-Black.woff') format('woff'), url('../fonts/DINRoundPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
*/


/* styles */

body {
    min-width: 320px;
    background: #fff;
    font-family: 'DINRoundPro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    color: #333;
    cursor: default;
}

header,
section,
footer {
    margin: 0 auto;
    max-width: 1920px;
}

.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    width: 960px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
}

b {
    font-weight: 700;
}


/*form*/

.m1-form input {
    border: none;
    background: #fafafa;
    width: 100%;
    height: 60px;
    border: 1px solid #f2f2f2;
    font-size: 16px;
    font-family: 'DINRoundPro', sans-serif;
    color: #333;
    margin-bottom: 15px;
    text-indent: 30px;
}

.m1-form ::-webkit-input-placeholder {
    color: #333;
}

.m1-form ::-moz-placeholder {
    color: #333;
}

.m1-form :-moz-placeholder {
    color: #333;
}

.m1-form :-ms-input-placeholder {
    color: #333;
}

.m1-form :focus::-webkit-input-placeholder {
    color: transparent;
}

.m1-form :focus::-moz-placeholder {
    color: transparent;
}

.m1-form :focus:-moz-placeholder {
    color: transparent;
}

.m1-form :focus:-ms-input-placeholder {
    color: transparent;
}


/*timer*/

.timer {
    padding: 0 16px;
}

.timer h3 {
    font-size: 18px;
    text-align: center;
    margin: 0 0 5px 0;
    font-weight: 500;
}

.timer .timer_item {
    width: 33.3%;
    float: left;
}

.timer_item .count_block {
    width: 70px;
    margin: 0px auto;
    position: relative;
}

.timer_item .count_block:after {
    content: ':';
    color: #7499cd;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    position: absolute;
    right: -10px;
    top: 0px;
}

.timer_item:last-child .count_block:after {
    display: none;
}

.count_block .count {
    text-align: center;
    font-size: 32px;
    line-height: 1.05em;
    font-weight: 700;
    color: #7499cd;
}

.count_block .text {
    color: #fff;
    font-size: 12px;
    line-height: 1.3em;
    text-transform: uppercase;
    text-align: center;
}


/* button */

.button-m {
    border: none;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 280px;
    height: 84px;
    background: #7499cd;
    font-family: 'DINRoundPro', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 84px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    transition: background ease-in-out .2s;
}

.button-m:hover {
    background: #53637d;
}

.button-m:active {
    top: 2px;
}


/* titles */

h2.title {
    font-weight: 700;
    font-size: 50px;
    line-height: 1.05em;
    text-align: center;
    margin-bottom: 30px;
    color: #53637d;
}

.blue_theme h2.title {
    color: #fff;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
}

h2.title.big-size {
    font-size: 70px;
}

p.subtitle {
    font-weight: 700;
    text-align: center;
    padding: 0 140px;
    margin: 0 0 25px;
    font-size: 18px;
}

.blue_theme {
    background: url(../images/bg1.jpg) 0% 0% no-repeat;
    background-size: cover;
}

section {
    padding: 40px 0 30px;
}


/*offer_sect*/

.offer_section {
    padding: 0;
}

.offer_section {
    background: #d5e0f2 url(../images/photo1.png) 5% 0% no-repeat;
    height: 700px;
    background-size: contain;
}

.offer_section .wrapper {
    position: relative;
}

.main_title {
    font-size: 80px;
    line-height: 1.05em;
    color: #7499cd;
    font-weight: 900;
    margin: 0 0 0 50px;
    float: left;
    letter-spacing: 3px;
}

.main_subtitle {
    float: right;
    font-size: 30px;
    color: #53637d;
    line-height: 1.1em;
    text-transform: uppercase;
    margin: 10px 43px 0 0;
    text-align: right;
    letter-spacing: 2px;
}

.main_subtitle>span {
    display: block;
    margin: 0 100px 0 0;
}

.offer_section .sale {
    position: absolute;
    background: #53637d;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1.5px;
    border: dashed 2px #fff;
    -webkit-box-shadow: 0px 0px 0px 5px rgba(83, 99, 125, 1);
    -moz-box-shadow: 0px 0px 0px 5px rgba(83, 99, 125, 1);
    box-shadow: 0px 0px 0px 5px rgba(83, 99, 125, 1);
    text-align: center;
    width: 116px;
    height: 116px;
    border-radius: 50%;
    padding: 22px 0 0;
    font-size: 16px;
    text-transform: uppercase;
}

.offer_section .sale {
    top: 295px;
    left: 165px;
}

.offer_section .sale>b {
    display: block;
    font-size: 40px;
    line-height: 1.05em;
    letter-spacing: normal;
}

.offer_bull {
    width: 45%;
    padding-top: 30px;
    margin: 0px 0 0 220px;
}

.offer_bull>li {
    font-size: 18px;
    color: #53637d;
    font-weight: 700;
    margin-bottom: 16px;
    background-size: contain;
    position: relative;
    margin-left: -15px;
}

.offer_bull>li:before {
    content: '';
    background: url(../images/photo2.png)no-repeat;
    padding: 20px;
    background-size: contain;
    position: absolute;
    left: -50px;
}

.offer_bull>li:nth-child(2) {
    margin-left: 35px;
}

.offer_bull>li:nth-child(3) {
    margin-left: 85px;
}

.offer_bull>li:nth-child(4) {
    margin-left: 135px;
}

.offer_bull>li:nth-child(5) {
    margin-left: 185px;
}

.offer_bull>li:last-child {
    bottom: 0;
}

.order_form {
    background: #fff;
    width: 320px;
    padding: 12px 20px 20px;
    position: absolute;
    right: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.order_form {
    top: 165px;
}

.price {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 15px 0;
}

.item.old {
    border-right: 1px dashed #7499cd;
}

.price .item {
    width: 50%;
    float: left;
    text-align: center;
    padding: 10px 0 8px;
    font-size: 15px;
    font-weight: 700;
    color: #53637d;
}

.price .item>span {
    line-height: 40px;
}

.price .item.old>span {
    font-weight: 500;
    font-size: 30px;
    text-decoration: line-through;
}

.price .item.old>small {
    font-size: 26px;
    font-weight: 500;
}

.price .item.new>span {
    color: #53637d;
    font-size: 40px;
    font-weight: 900;
}

.price .item.new>small {
    color: #53637d;
    font-size: 30px;
    font-weight: 900;
}

.products_count {
    width: 280px;
    margin: 15px auto 0;
    border: 1px solid #7499cd;
    letter-spacing: normal;
    font-size: 14px;
    line-height: 30px;
    padding: 0 0 0 15px;
    border-radius: 30px;
    overflow: hidden;
}

.products_count>span {
    float: right;
    background: #7499cd;
    color: #fff;
    font-weight: 700;
    padding: 0 12px;
}


/*sect2*/

.sect2 {
    padding: 0;
}

.sect2 .wrapper__banner {
    position: relative;
    width: 100%;
    display: flex;
    padding: 0;
}

.sect2 .banner__bg {
    background: url(../images/bg21.jpg);
    width: 50%;
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
}

.sect2 .description {
    background: url(../images/bg22.jpg);
    z-index: 2;
    width: 50%;
    text-transform: uppercase;
    padding: 180px 90px;
}

.sect2 .description>p {
    color: #000;
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
    line-height: 1.9em;
    font-weight: 600;
}

.sect2 .description>p>span {
    font-weight: 900;
    font-size: 36px;
    line-height: 1.05em;
    display: block;
    margin-bottom: 10px;
}


/*.sect2 .wrapper:before {
    content: '';
    width: 407px;
    height: 508px;
    background: url(../images/desc_img1.jpg) 50% 50% no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 1;
    top: 130px;
    left: 0;
}

.sect2 .wrapper:after {
    content: '';
    width: 444px;
    height: 523px;
    background: url(../images/desc_img2.jpg) 50% 50% no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 1;
    top: 130px;
    right: 0;
}*/

.sect2 .bull__wrapper {
    background: #fff;
    -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.1);
    padding: 40px 20px 50px;
    font-size: 0;
    letter-spacing: -1px;
}

.sect2 .bull .title__description {
    color: #000000;
}

.sect2 .bull>li {
    letter-spacing: normal;
    text-align: center;
    display: inline-block;
    width: 33.3%;
    vertical-align: top;
    padding: 0 40px;
}

.sect2 .bull>li>h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.sect2 .bull>li>p {
    font-size: 16px;
}

.sect2 .bull>li>img {
    display: block;
    margin: 0px auto 20px;
    width: 180px;
}


/*sect3*/

.sect3 {
    padding-top: 100px;
}

.sect3 .content {
    font-size: 0px;
    letter-spacing: -1px;
}

.sect3 .left_side {
    display: inline-block;
    vertical-align: top;
    width: 540px;
}

.sect3 .right_side {
    width: 390px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.sect3 .item {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sect3 .right_side .item:last-child {
    margin-top: 10px;
    padding: 20px 0;
}

.video_block {
    height: 290px;
    margin: 0px auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.video_block iframe,
.video_block object {
    width: 100%;
    height: 100%;
}

.sect3 .benef {
    margin-top: 20px;
}

.benef {
    font-size: 0;
    letter-spacing: -1px;
}

.benef .item {
    width: 265px;
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    margin-right: 10px;
}

.benef .item:nth-child(2n) {
    margin: 0;
}

.benef .item>img {
    display: block;
}

.sect3 .content p {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    line-height: 1.6em;
    text-align: center;
    padding: 20px 15px;
    background: #7499cd;
    letter-spacing: normal;
}

.sect3 .button-m {
    margin-top: 30px;
}


/*sect4*/

.sect4 .wrapper__banner {
    position: relative;
    width: 100%;
    display: flex;
    padding: 0;
}

.sect4 .banner__bg {
    background: url(../images/bg33.jpg);
    width: 50%;
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
}

.sect4 .description {
    background: #fff;
    z-index: 2;
    width: 50%;
    text-transform: uppercase;
    padding: 170px 90px;
}

.sect4 .list .cont_block {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-bottom: 20px;
}

.sect4 .description>p {
    color: #000;
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
    line-height: 1.9em;
    font-weight: 600;
}

.sect4 .list .cont_block:first-child {
    margin-left: 0;
}

.cont_block {
    background: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #7499cd;
    letter-spacing: normal;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.cont_block>img {
    display: block;
    margin: 0px auto 10px;
}

.cont_block>h4 {
    font-size: 18px;
    color: #7499cd;
    font-weight: 700;
    margin-bottom: 5px;
    padding: 0 15px;
}

.cont_block>p {
    font-size: 16px;
    padding: 0 5px;
}


/*sect5*/

.sect5 .content {
    font-size: 0;
    letter-spacing: -1px;
}

.gallery_block {
    width: 520px;
    display: inline-block;
    vertical-align: top;
}

.gallery {
    position: relative;
    padding: 0 0 0 140px;
}

.sect5 .owl-dots {
    position: absolute;
    width: 130px;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sect5 .owl-dot {
    margin: 0 0 10px;
    height: 115px;
    position: relative;
}

.sect5 .owl-dot:last-child {
    margin-bottom: 0;
}

.sect5 .owl-dot:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.sect5 .owl-dot:nth-child(1) {
    background: url(../images/photo12/1.jpg) 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.sect5 .owl-dot:nth-child(2) {
    background: url(../images/photo12/2.jpg) 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.sect5 .owl-dot:nth-child(3) {
    background: url(../images/photo12/3.jpg) 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.sect5 .owl-dot:nth-child(4) {
    background: url(../images/photo12/4.jpg) 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.sect5 .owl-dot:hover:after,
.sect5 .owl-dot.active:after {
    opacity: .5;
}

.char_block {
    width: 400px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    letter-spacing: normal;
}

.char_block .price_sale {
    display: flex;
    justify-content: center;
    align-items: center;
}

.char_block .price {
    width: 280px;
    float: left;
    margin: 0;
}

.char_block .sale {
    width: 120px;
    float: left;
    background: #7499cd;
    height: 87px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 10px 0 0;
}

.char_block .sale>b {
    display: block;
    font-size: 40px;
    line-height: 1.05em;
}

.char_block .price .item.new>span,
.char_block .price .item.new>small {
    color: #7499cd;
}

.char {
    margin-top: 14px;
}

.char>li {
    text-align: right;
    font-size: 16px;
    border-bottom: 1px solid #f7f7f7;
    padding: 8px 0;
}

.char>li:last-child {
    border: none;
}

.char>li>b {
    float: left;
}

.char_block .button-m {
    margin: 20px 0 0;
}

.char_block .products_count {
    margin: 18px 0 0;
}


/*sect6*/

.sect6 {
    padding-bottom: 45px;
}

.rev_item {
    margin: 0px auto;
    width: 300px;
    min-height: 590px;
}

.rev_item>p {
    padding: 0;
}

.rev_item>h4>span {
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: 700;
}


/*.rev_item:after {
    content: 'â€';
    font-size: 60px;
    line-height: 10px;
    display: block;
    text-align: center;
    font-family: 'Times New Roman', sans-serif;
    font-weight: 700;
    color: #53637d;
    margin-top: 35px;
}*/


/*sect7*/

.gallery2 {
    font-size: 0;
    letter-spacing: -1px;
}

.gallery2>img {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin: 0 20px 20px 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.gallery2>img:nth-child(3n) {
    margin: 0 0 20px;
}


/*sect8*/

.sect8 {
    background: #7499cd;
    padding: 30px 0;
}

.sect8 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.1em;
    text-align: center;
}


/*sect9*/

.order_list {
    font-size: 0;
    letter-spacing: -1px;
    padding: 20px 0 53px;
    background: url(../images/order_shadow.png) 50% 100% no-repeat;
}

.order_list>li {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding: 0 18px;
    font-size: 16px;
    letter-spacing: normal;
    text-align: center;
}

.order_list>li>img {
    display: block;
    margin: 0px auto 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.order_list>li>h4 {
    font-size: 18px;
    margin-bottom: 5px;
}

.garant {
    margin: 20px 0 0;
    padding: 8px 0 10px 220px;
    background: url(../images/garant.jpg) 30px 50% no-repeat;
}

.garant>li {
    margin-bottom: 25px;
}

.garant>li:last-child {
    margin: 0;
}

.garant>li>span {
    text-transform: uppercase;
    color: #53637d;
    display: block;
    font-weight: 700;
}


/*offer_line*/

.offer_line {
    background: #7499cd;
    padding: 15px 0 20px;
}

.offer_line h2 {
    color: #fff;
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.05em;
}


/*footer*/

.footer_section {
    background: #fff;
    padding: 25px 0;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.footer_section img {
    display: block;
    margin: 0 auto 10px auto;
}

.footer_section a {
    color: #333;
    margin: 0 10px;
}

.footer_section a:hover {
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .sect4 .description,
    .sect2 .description {
        background: url(/images/bg22.jpg);
        z-index: 2;
        width: 50%;
        text-transform: uppercase;
        padding: 36px;
    }
}

@media screen and (max-width: 959px) {
    .wrapper {
        width: 90%;
    }
    section {
        padding: 30px 0 !important;
    }
    h2.title {
        font-size: 30px;
        line-height: 1.3em;
    }
    h2.title.big-size {
        font-size: 50px;
    }
    .main_title {
        float: none;
        margin: 0;
        text-align: center;
        letter-spacing: 4px;
    }
    .main_subtitle {
        float: none;
        text-align: center;
        margin: 5px 0 0;
        letter-spacing: normal;
    }
    .main_subtitle>span {
        display: inline;
        margin: 0;
    }
    .offer_bull {
        position: absolute;
        bottom: -315px;
        left: 50px;
        margin: 0;
    }
    .offer_bull>li,
    .offer_bull>li:nth-child(2),
    .offer_bull>li:nth-child(3),
    .offer_bull>li:nth-child(4),
    .offer_bull>li:last-child {
        margin-left: 0;
        margin-bottom: 40px;
    }
    .order_form {
        position: static;
        float: right;
    }
    .offer_section {
        background: #d5e0f2 url(../images/offer_bg_tablets.jpg) 50% 0% no-repeat;
        height: 780px;
    }
    .offer_section .order_form {
        margin: 30px 0 0;
    }
    .offer_section .sale {
        left: 15px;
        top: 330px;
    }
    .sect2 .wrapper::before {
        top: 110px;
        width: 270px;
        height: 350px;
    }
    .sect2 .wrapper::after {
        top: 110px;
        width: 290px;
        height: 355px;
    }
    .sect2 .description {
        width: 420px;
        height: 420px;
    }
    .sect2 .description>p {
        font-size: 14px;
        line-height: 1.8em;
    }
    .sect2 .description>p>span {
        font-size: 30px;
        margin-bottom: 6px;
    }
    .sect2 .bull {
        text-align: center;
        margin-top: 30px;
    }
    .sect2 .bull>li {
        width: 50%;
        padding: 0 20px;
        margin-bottom: 20px;
    }
    .sect3 .left_side {
        display: block;
        margin: 0px auto;
    }
    .sect3 .right_side {
        width: 540px;
        display: block;
        margin: 10px auto 0;
    }
    .sect3 .right_side .item {
        background: #f8f8f8;
    }
    .sect3 .right_side .item>img {
        display: block;
        margin: 0px auto;
    }
    .sect3 .benef {
        margin-top: 10px;
    }
    .video_block {
        width: 100%;
    }
    .blue_theme {
        background: -moz-linear-gradient(-45deg, #b3d1ef 0%, #c3d9f0 26%, #adcfee 46%, #c3d9f0 66%, #aacdee 78%, #adcfee 100%);
        background: -webkit-linear-gradient(-45deg, #b3d1ef 0%, #c3d9f0 26%, #adcfee 46%, #c3d9f0 66%, #aacdee 78%, #adcfee 100%);
        background: linear-gradient(135deg, #b3d1ef 0%, #c3d9f0 26%, #adcfee 46%, #c3d9f0 66%, #aacdee 78%, #adcfee 100%);
    }
    .sect4 .list {
        text-align: center;
    }
    .sect4 .list .cont_block,
    .sect4 .list .cont_block:first-child {
        margin: 0 10px 20px;
    }
    .gallery_block {
        display: block;
        margin: 0px auto;
    }
    p.subtitle {
        padding: 0 40px;
    }
    .char_block {
        width: 520px;
        display: block;
        margin: 30px auto 0;
    }
    .price_sale {
        width: 400px;
        margin: 0 auto;
    }
    .char_block .button-m,
    .char_block .products_count {
        margin: 20px auto 0;
    }
    .owl-prev,
    .owl-next {
        position: absolute;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        top: 105px;
    }
    .owl-prev {
        background: #53637d url(../images/gallery_arrow.png) 0% 50% no-repeat;
        left: 10px;
    }
    .owl-next {
        background: #53637d url(../images/gallery_arrow.png) 100% 50% no-repeat;
        right: 10px;
    }
    .gallery2>img,
    .gallery2>img:nth-child(3n) {
        margin: 0 10px 20px;
    }
    .sect8 h2 {
        font-size: 25px;
    }
    .order_list {
        padding: 0 30px 33px;
    }
    .order_list>li {
        width: 50%;
        margin-bottom: 20px;
    }
    .offer_line h2 {
        font-size: 34px;
    }
    .offer_section .sale {
        left: 275px;
        top: 220px;
        display: none;
    }
    .offer_section.order_form {
        margin: 15px 0 0;
    }
}

@media screen and (max-width: 659px) {
    .sect2 .bull>li>img {
        width: 120px;
    }
    .sect2 .description>p,
    .sect4 .description>p {
        font-size: 12px;
    }
    .offer_bull>li:before {
        padding: 15px;
    }
    section {
        padding-top: 25px;
    }
    .wrapper {
        width: 320px;
    }
    h2.title {
        font-size: 26px;
        line-height: 1.2em;
    }
    .offer_section {
        background: #d5e0f2 url(../images/offer_bg_mobile.jpg) 50% 0% no-repeat;
        height: 1050px;
        padding-bottom: 30px;
    }
    .main_title {
        font-size: 32px;
        letter-spacing: normal;
    }
    .main_subtitle {
        font-size: 18px;
        letter-spacing: 0.8px;
    }
    .offer_bull {
        display: block;
        margin-left: 0;
        width: 80%;
        position: absolute;
        bottom: -315px;
        left: 60px;
        margin: 0;
    }
    .offer_top .offer_bull {
        padding-top: 510px;
        font-size: 18px;
    }
    .offer_bull>li,
    .offer_bull>li:nth-child(2),
    .offer_bull>li:nth-child(3) {
        margin-left: 0;
        padding: 0px 0 0 0px;
    }
    .offer_bull>li,
    .offer_bull>li:nth-child(2),
    .offer_bull>li:nth-child(3),
    .offer_bull>li:nth-child(4),
    .offer_bull>li:last-child {
        margin-bottom: 25px;
    }
    .offer_bull>li br {
        display: none;
    }
    .offer_section .sale {
        left: 180px;
        top: 185px;
    }
    .order_form {
        width: 100%;
    }
    .order_form .button-m {
        width: 100%;
    }
    .order_form .products_count {
        font-size: 13px;
        width: 100%;
    }
    .order_form .products_count>span {
        font-size: 15px;
        padding: 0 6px;
    }
    .offer_section .order_form {
        margin-top: 10px;
    }
    .sect4 .description,
    .sect2 .description {
        width: 100%;
        height: auto;
        padding: 20px 15px;
    }
    .sect2 {
        padding: 0 !important;
    }
    .sect2 .banner__bg,
    .sect4 .banner__bg {
        width: 100%;
        height: 400px;
    }
    .sect4 .wrapper__banner,
    .sect2 .wrapper__banner {
        flex-direction: column;
    }
    .sect2 .description>p:last-child {
        padding: 0;
    }
    .sect2 .wrapper::before {
        width: 320px;
    }
    .sect2 .wrapper::after {
        width: 320px;
        top: 950px;
    }
    .sect2 .bull {
        padding: 30px 0 10px;
        margin-top: 0;
    }
    .sect2 .bull>li {
        width: 100%;
    }
    h2.title.big-size {
        font-size: 30px;
        line-height: 1.1em;
    }
    .sect3 .left_side {
        width: 100%;
    }
    .video_block {
        height: 165px;
    }
    .benef .item,
    .benef .item:nth-child(2n) {
        display: block;
        margin: 0 auto 10px;
        width: 100%;
    }
    .sect3 .right_side {
        width: 100%;
    }
    .sect4 .list .cont_block,
    .sect4 .list .cont_block:first-child {
        width: 100%;
        margin: 0 0 20px;
    }
    .sect4 {
        padding-bottom: 10px;
    }
    p.subtitle {
        font-size: 16px;
        padding: 0;
    }
    .gallery_block {
        width: 100%;
    }
    .gallery {
        padding: 0;
    }
    .sect5 .owl-dots {
        position: static;
        width: 100%;
        font-size: 0;
        letter-spacing: -1px;
        flex-direction: row;
    }
    .sect5 .owl-dot {
        width: 100px;
        height: 132px;
        display: inline-block;
        vertical-align: top;
        margin: 0;
    }
    .char_block {
        width: 100%;
    }
    .price_sale {
        width: 100%;
        flex-direction: column;
    }
    .char_block .price {
        width: 100%;
        float: none;
    }
    .char_block .sale {
        float: none;
        width: 100%;
    }
    .owl-prev {
        left: 0;
    }
    .owl-next {
        right: 0;
    }
    .gallery2>img,
    .gallery2>img:nth-child(3n) {
        width: 100%;
        margin: 0px auto 15px;
    }
    .order_list>li {
        width: 100%;
        padding: 0 30px;
    }
    .order_list {
        padding: 0 0 30px;
    }
    .garant {
        padding: 200px 0 0;
        background-position: 50% 0%;
        text-align: center;
    }
    .offer_line h2 {
        font-size: 25px;
    }
    .timer_item .count_block::after {
        right: -7px;
    }
    .sect2 .bull__wrapper {
        padding: 0;
    }
}