@media(max-width: 768px){
    .container{
        width: 90%;
    }
    .section__form{
        padding: 30px 0;
    }
    .form__static .btn__action{
        font-size: 18px;
    }
    .gallery__img{
        height: 100%;
        width: 100%;
    }
    .tariff__items{
        justify-content: center;
    }
    .tariff__item{
        width: 42%;
        margin: 10px;
    }
    .btn__action.btn__tariff{
        width: 100%;
        font-size: 18px;
    }
}
@media(max-width: 569px){
   
    .top__contact{
        display: none;
    }
    .banner__offer h1{
        font-size: 3.5em;
    }
    .banner__offer p{
        width: 90%;
    }
    .feature__item{
        width: 46%;
    }
    .feature__item:last-child{
        width: 100%;
    }
    .feature__item:nth-child(3){
        width: 100%;
    }
    .feature__item:nth-child(6){
        width: 100%;
    }
    .gallery__item{
        width: 46%;
    }
    .gallery__item:last-child{
        width: 100%;
    }
    .gallery__item:nth-child(3){
        width: 100%;
    }
    .gallery__item:nth-child(6){
        width: 100%;
    }
    .tabs li{
        width: 100%;
    }
    .tabs a{
        padding: 10px 20px;
    }
    .tariff__item{
        width: 100%;
        margin: 10px;
    }
}
@media(max-width: 425px){
    .banner__offer h1 {
        font-size: 2.5em;
    }
    .banner__offer p{
        font-size: 1.3em;
    }
    .feature__item {
        width: 100%;
    }
    .about__wrapper{
        background: none;
    }
    .about__text{
        width: 100%;
    }
    .form__text h3{
        text-align: center;
    }
    .form__static{
        flex-direction: column;
    }
    .form__input {
        width: 100%;
        margin: 5px 0;
    }
    .form__static .btn__action{
        font-size: 22px;
        width: 100%;
    }
    .gallery__item{
        width: 100%;
    }
}