@font-face {
    font-family: 'DINRoundPro-Medi';
    font-style: normal;
    font-weight: normal;
    src: local('DINRoundPro-Medi'), url('DINRoundPro-Medium.woff') format('woff');
}

@font-face {
    font-family: 'DINRoundPro';
    font-style: normal;
    font-weight: normal;
    src: local('DINRoundPro'), url('DINRoundPro-Regular.woff') format('woff');
}

@font-face {
    font-family: 'DINRoundPro-Light';
    font-style: normal;
    font-weight: normal;
    src: local('DINRoundPro-Light'), url('DINRoundPro-Light.woff') format('woff');
}

@font-face {
    font-family: 'DINRoundPro-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('DINRoundPro-Bold'), url('DINRoundPro-Bold.woff') format('woff');
}

@font-face {
    font-family: 'DINRoundPro-Black';
    font-style: normal;
    font-weight: normal;
    src: local('DINRoundPro-Black'), url('DINRoundPro-Black.woff') format('woff');
}